<h1 class="d-none">{{title}}</h1>
<p> I will do my best to get back to you in 24h.</p>

<form action="">

    <input type="text" name="company" placeholder="Name" class="input-length">

    <input type="email" name="usermail" required placeholder="Email" class="input-length">

    <textarea name="message" id="user-message" cols="30" rows="10" placeholder="Message"></textarea>

    <input type="submit" value="SUBMIT" class="submit-button">
</form>
