<h1>{{title}}</h1>
<p>This is a contact form</p>

<form action="">
    <label for="usermail">Please enter your email address:</label>
    <input type="email" name="usermail" required>

    <label for="name">Please enter your company name (optional)</label>
    <input type="text" name="company">

    <label for="message">Please enter your message:</label>
    <textarea name="message" id="user-message" cols="30" rows="10"></textarea>

    <input type="submit" value="Send!" class="submit-button">
</form>