<!-- from splash to beyond -->


<div class="jumbotron-fluid">
        <h1 class="d-none">Splash</h1>
        <div class="row splash">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="splash-art">
                    <img src="images/splash-img.png" class="splash-hand float-lg-right" alt="Splash Art">
                </div>
                <h1>Hi, I'm Syrrel</h1>
                    <p class="display-5"><strong>I am passionate about</strong>
                        <span id="demo"></span>
                        <span class='type-cursor'>|</span>
                    </p>
                    <p class="display-5"><strong>This is a curation of some of my best works</strong></p>
        </div>
    </div>
</div>


<!-- Portfolio Gallery -->
<section id="work" class="container panel work">
    {{#each piece}}
    <div class="row"></div>
         <div class="p1 user-panel col-lg-8">
            <div id="p1">
                <img src="{{ DispImg }}" width="350">
                <a class="projLink" href="{{ ID }}">
                    <h4>{{ ProjName }}</h4>
                </a>
            </div>
        </div>
    </div>
    {{/each}}


    <!-- Popup -->
    <div class="lightbox container col-sm-12 col-lg-12">
        <div class="row">
        <span class="close">Exit</span>
        <div class="sidebar">
            <img src="" alt="Poster">
        </div>

        <div class="lb-content container-fluid col-sm-12 col-lg-12">
        </div>
        </div>
    </div>
</section>




<section id="about"></section>





<script type="module" src="js/typing-splash.js"></script>