<!-- from splash to beyond -->


<div class="jumbotron-fluid">
        <h1 class="d-none">Splash</h1>
        <div class="row splash">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="splash-art">
                    <img src="images/splash-img.png" class="splash-hand float-lg-right" alt="Splash Art">
                </div>
                <h1>Hi, I'm Syrrel</h1>
                    <p class="display-5"><strong>I am passionate about</strong>
                        <span id="demo"></span>
                        <span class='type-cursor'>|</span>
                    </p>
                    <p class="display-5"><strong>This is a curation of some of my best works</strong></p>
        </div>
    </div>
</div>


<section id="work" class="container panel">
   <div class="row">
      <div class="col portGrid">Left column</div>
      <div class="col portGrid">Center column</div>
      <div class="col portGrid">Right column</div> 
    </div>
</section>



<section id="about"></section>





<script type="module" src="js/typing-splash.js"></script>