<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Syrrel Cabiling: This is my Portfolio</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row"> 
            <nav class="col-lg-12 col-sm-12">
              <img src="images/logo/LOGO2.svg" class="main-logo" alt="My Logo">
                <h1 class="d-none">Navigation</h1>
                <ul class="navlinks">
                    <li> 
                        <a href="/">WORK</a>
                    </li>
                    <li>
                        <a href="#">ABOUT</a>
                    </li>
                    <li>
                        <a href="#">CONTACT</a>
                    </li>
                </ul>
                <div class="burger-menu">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
    </div>
    <div class="jumbotron-fluid">
        <h1 class="d-none">Splash</h1>
        <div class="row splash">
            <div class="col-sm-12">
                <div class="splash-art">
                    <img src="images/splash-img.png" alt="Splash Art">
                </div>
                <h1>Hi, I'm Syrrel</h1>
                    <p class="display-5"><strong>I am passionate about</strong>
                        <span id="demo"></span>
                        <span class='type-cursor'>|</span>
                    </p>
                    <p class="display-5"><strong>This is a curation of some of my best works</strong></p>
            </div>
        </div>
    </div>
    <main>
        {{{ body }}}
    </main>


<script type="module" src="js/main.js"></script>
<script type="module" src="js/burger-menu.js"></script>
<script type="module" src="js/typing-splash.js"></script>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>