nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: transparent;
  font-size: .8rem;
  font-family: 'Manrope-Bold', sans-serif;
  position: relative;
  z-index: 1; }

.navlinks {
  display: flex;
  justify-content: space-around; }

.navlinks li {
  list-style: none;
  margin-top: 10px;
  width: 20%;
  margin-bottom: 10px; }

.burger-menu {
  display: block; }

.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  border-radius: 3px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

.burger-menu .line2 {
  width: 18px; }

.burger-menu .line3 {
  width: 20px; }

* {
  margin: 0 auto;
  padding: 0px; }

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url("fonts/manrope-ttf/web/manrope-regular.woff") format(woff), url("fonts/manrope-ttf/web/manrope-bold.woff") format(woff); }
@font-face {
  font-family: 'Made Saonara', serif;
  src: url("fonts/made-saonara/MADE SAONARA PERSONAL USE.otf") format(otf); }
html, body {
  font-family: 'Manrope', sans-serif;
  height: 100%;
  width: 100vw;
  overflow-x: hidden; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  position: absolute; }

h1 {
  font-family: 'Made Saonara', sans-serif; }

.main-logo {
  width: 50%;
  margin: 10px 0 10px 0;
  left: 10px; }

a {
  color: #000;
  font-size: 1em;
  text-decoration: none; }

a:hover {
  background: linear-gradient(180deg, rgba(233, 149, 117, 0) 50%, #DF9575 60%);
  text-decoration: none;
  color: black; }

.splash {
  height: 100vh;
  background: url("/images/background.png");
  background-size: cover;
  background-position: right 0% bottom 45%;
  top: -110px;
  position: relative;
  padding: 25px; }

.splash-hand {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  margin-top: 100px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes floating {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px); } }
.splash h1 {
  margin-top: 20px;
  font-size: 2rem; }

.type-cursor {
  color: #000;
  font-size: 20px;
  animation: blink .4s ease infinite;
  opacity: 0; }

@keyframes blink {
  100% {
    opacity: 1; } }
#work {
  min-height: 100vh;
  box-sizing: border-box;
  top: 30px;
  color: #fff; }

#work div {
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: space-around;
  height: 350px;
  width: 550px;
  align-items: center; }

#p1 {
  background: #05322F;
  display: inline-flex;
  margin-left: 10px;
  margin-right: 10px; }

button {
  background-color: transparent;
  border: none; }

@media (min-width: 320px) {
  body {
    overflow-x: hidden; }

  .main-logo {
    width: 50%; }

  .navlinks {
    position: absolute;
    margin-bottom: 20px;
    right: 0px;
    height: 100vh;
    width: 55%;
    top: -10px;
    background-color: #8E391E;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(110%);
    transition: transform 0.5s ease-in; }

  .navlinks li {
    opacity: 0;
    font-size: .7rem; }

  .navlinks li:hover {
    background-size: 4px 50px; }

  .navlinks2 {
    display: none; }

  .burger-menu {
    display: block;
    cursor: pointer;
    margin-right: 0px; }

  .burger-menu div {
    height: 3px; }

  .splash {
    height: 120%; }

  .splash-hand {
    margin-top: 130px;
    width: 80%; }

  h1 {
    font-size: 2rem !important; }

  .splash p {
    font-size: .7rem;
    line-height: 10px; } }
.burger-expand {
  transform: translateX(-10%); }

@keyframes LinksFading {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
.toggleBurger .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: white; }

.toggleBurger .line2 {
  opacity: 0; }

.toggleBurger .line3 {
  width: 25px;
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: white; }

@media (min-width: 375px) {
  body {
    overflow-x: hidden; }

  .splash {
    height: 120%; }

  .navlinks {
    transform: translateX(105%); }

  .navlinks2 {
    display: none; }

  .splash-hand {
    margin-top: 170px;
    margin-bottom: 35px; }

  .splash h1 {
    font-size: 3rem; }

  .splash p {
    font-size: .8rem;
    line-height: 10px; } }
.burger-expand {
  transform: translateX(5%); }

@media (min-width: 768px) {
  body {
    overflow-x: hidden; }

  nav {
    padding: 20px; }

  .main-logo {
    width: 40%; }

  .burger-menu {
    margin-right: 20px;
    margin-top: -10px; }

  .navlinks2 {
    display: none; }

  .navlinks li {
    font-size: 1rem; }

  .splash {
    height: 120%; }

  .splash-hand {
    margin-top: 220px;
    width: 50%; }

  .splash h1 {
    margin-top: 100px;
    font-size: 2rem !important;
    margin-left: 30px;
    margin-bottom: 10px; }

  .splash p {
    font-size: 1rem;
    line-height: 10px;
    margin-left: 30px; } }
@media (min-width: 1200px) {
  body {
    overflow-x: hidden; }

  nav {
    padding: 0px; }

  .main-logo {
    width: 20%;
    margin-left: 30px; }

  .burger-menu {
    display: flex; }

  .navlinks {
    display: none; }

  .navlinks li {
    display: inline-flex !important;
    justify-content: space-around; }

  .navlinks2 {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    z-index: 2;
    font-size: 1rem; }

  .navlinks2 li {
    display: inline-flex;
    margin: 30px; }

  .splash {
    display: flex; }

  .splash-hand {
    width: 30%;
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 130px;
    margin-top: 160px; }

  .type-cursor {
    font-size: 1.5rem; }

  .splash {
    height: 120%; }

  .splash h1 {
    margin-top: 400px;
    font-size: 4rem !important;
    margin-left: 30px;
    margin-bottom: 10px; }

  .splash p {
    font-size: 1.5rem;
    line-height: 20px;
    margin-left: 30px; }

  .burger-expand {
    display: none; } }
@media (min-width: 1920px) {
  body {
    overflow-x: hidden; }

  nav {
    padding: 0px;
    padding-right: 30px; }

  .main-logo {
    width: 15%;
    margin-left: 30px; }

  .burger-menu {
    display: flex; }

  .navlinks {
    display: none; }

  .navlinks li {
    display: inline-flex !important;
    justify-content: space-around; }

  .navlinks2 {
    display: flex;
    justify-content: space-around;
    margin-right: 0px; }

  .navlinks2 li {
    display: inline-flex;
    margin: 30px; }

  .splash {
    height: 120%; }

  .splash h1 p {
    margin-top: 300px; } }

/*# sourceMappingURL=main.css.map */
