footer {
    position: relative;
    background-color: #8E391E;
    font-size: .7rem !important;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 0px;
}

.f-links {
    display: flex;
    justify-content: space-around;
}

.f-links li {
    list-style: none;
    margin-top: 10px;
    width: 20%;
    margin-bottom: 10px;
}

.f-links a {
    text-decoration: none;
    color: #fff;
}

.f-links a:hover {
    background: linear-gradient(180deg,  rgba(233,149,117,0) 50%, #DF9575 60%);
}

.f-nav img {
    width: 35%;
    margin-bottom: 30px;
}

.copyright {
    color: #fff;
    text-align: center;
    background-color: #792F18;
    height: 10vh;
    padding-top: 30px;
}

.contact a {
    color: #D98C43;
 
}

.contact a:hover {
    color: #8E391E;
    text-decoration: none;
}