.form-cont {
    background-color: #fff;
    -webkit-box-shadow: 4px 10px 20px -6px #777;
	-moz-box-shadow: 4px 10px 20px -6px #777;
	box-shadow: 4px 10px 20px -6px #777;
   transform: translateY(20%);
   padding: 10px;

}

.form-cont p{
    font-size: 1rem;

}

.cont-header {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 30px;
    transform: translateX(5%);
}

form {
    margin-top: 30px;
}

input, textarea {
    border : 1px solid #707070;
    padding : 2px;  
    margin-bottom: 15px;
}

textarea {
    width: 100%;
}

.input-length {
    width: 100%;
}

.submit-button {
    width: 40%;
    background-color: #ECE1C8;
    transform: translateX(70%);
    border: none;
}