
.lightbox {
    //display: flex;
    display: none;
    background: #e2d2c0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 5;
    overflow: scroll;
    border-radius: 5px; 
    align-items: center;
}



.lightbox img {
    width: 70%;
}

.lightbox object {
    opacity: 1;
    z-index: 5;
}

.lb-content {
    position: relative; 
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px; 
    margin: auto; 
    width: 100vw;
    height: 50vh; 
    bottom: 0%;
    overflow-y: scroll;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.show-lb { 
    display: flex !important; 
}

.close {    
    right: 24px;
    top: 10px;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    padding: 2px 14px 5px;
  color: black; 
  font-size: 24px;  
  font-weight: bold;
  z-index: 5;
    
}
.projGallery {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .projDesc {
    margin-top: 20px;
    width: 100vw;
    height: 50vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e2d2c0;
    overflow: scroll;
}
  .otherImg {
      margin-bottom: 20px;
  }
  .btn {
      margin-bottom: 30px;
  }