
@media (min-width: 320px) {
    body {
        overflow-x: hidden;    
    }

    .main-logo{
        width: 50%;
    }
    .navlinks {
        position: absolute;
        margin-bottom: 20px;
        right: 0px;
        height: 100vh;
        width: 55%;
        top: -10px;
        background-color: #8E391E;
        display: flex;
        flex-direction: column;
        align-items: center; 
        transform: translateX(110%);
        transition: transform 0.5s ease-in;
    }
    .navlinks li {
        opacity: 0;
        font-size: .7rem;
    }
    .navlinks li:hover{
        background-size: 4px 50px;
    }
    .navlinks2 {
        display: none;
    }
    .burger-menu {
        display: block;
        cursor: pointer;
        margin-right: 0px;
    }
    .burger-menu div{
        height: 3px;
    }
    .jumbotron-fluid {
        height: 100vh;
        margin-bottom: 30px;
    }
    .splash{
        background-position: right 0% bottom 45%;
        background-size: cover;
        top: -110px;

    }
    .splash-hand {
        margin-top: 130px;
        width: 80%;
    }
    h1 {
        font-size: 2rem !important;
    }
    .splash p{
        font-size: .7rem;
        line-height: 10px;
    }
    .workDiv {
        width: 100vw;
    }
    .wHeader {
        width: 50%;
    }
    .divider {
        width: 20%;
        margin: 5px;
    }
    #p1 {
        width: 100%;
        background: #05322F;
        //margin: 10px;
        // flex: 0 0 100%;
        // float: left;
    }
    .copyright {
        height: 10vh;
    }
    .error-section {
        width: 90%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        height: 60vh;
        display: flex;
        transform: translate(0%, 40%);
    }
    
    .error-section a {
        margin-top: 10px;
        text-decoration: none;
        font-size: .8rem;
    }
    
    .error-section a:hover {
        background-color: #DF9575;
    }
    
    .giphy-embed {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .error {
        margin-top: 15px;
        padding: 5px;
    }
}

.burger-expand {
    transform: translateX(-10%);

}

@keyframes LinksFading {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggleBurger .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: white;
}
.toggleBurger .line2{
    opacity: 0;
}
.toggleBurger .line3{
    width: 25px;
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: white;
}


@media (min-width: 375px) {
    body{
        overflow-x: hidden;    
    }
    .splash{
        height: 120%;
        top: -130px;
    }
    .navlinks{
        transform: translateX(105%);
    }
    .navlinks2 {
        display: none;
    }
    .splash-hand{
        width: 50%;
        margin-top: 170px;
        margin-bottom: 20px;
    }
    .splash h1{
        font-size: 3rem;
    }
    .splash p{
        font-size: .8rem;
        line-height: 10px;
    }
    .lb-content{
        overflow-y: scroll;
    }
    .copyright {
 
        height: 10vh;
        padding-top: 30px;
    }
    .form-cont {
        transform: translateY(25%);
        height: 80%;
    }
    textarea {
        width: 100%;
        height: 200px;
    }
    .wave-Header {
        margin-top: 20px;
        width: 40%;
        left: 50%;
    }
    .wave-Splash {
        width: 100%;
        transform: translate(0%, -10%);
    }
    .wave-bottom-splash {
        height: 150vh;
        position: relative;
        padding: 25px;
        text-align: center;
        bottom: 0;
    }
    .wave-mock {
        transform: translate(-5%, 40%);
        width: 100%;
    }
    .biotec-splash {
        height:100vh;
        background-image: linear-gradient(to top right,  #08393B,#79B3B7);
        -moz-transform: scale(1.5) skew(0deg, -16deg);
        -webkit-transform: scale(1.5) skew(0deg, -16deg);
        -o-transform: scale(1.5) skew(0deg, -16deg);
        -ms-transform: scale(1.5) skew(0deg, -16deg);
        transform: scale(1.5) skew(0deg, -16deg);
        text-align: center;
    }
    
    .splash-content {
        transform: translateY(-120%);
        text-align: center;
    }
    
    .biotec-logo {
        width: 90%;
    }
    
    .biotec-mock {
        width: 100%;
    }
    
    .merch-cont {
        text-align: center;
        height: 20%;

    }
    
    
    .merch-cont img{
        width: 110%;
        transform: translateY(-110%);
        margin-bottom: 0px;
    }
    
    .proj-desc {
        height: 30%;
    }
    
    .biotec-section2 {
        height: 100%;
        background-image: linear-gradient(to top right,  #08393B,#fff);
        -moz-transform: scale(1.5) skew(0deg, -16deg);
        -webkit-transform: scale(1.5) skew(0deg, -16deg);
        -o-transform: scale(1.5) skew(0deg, -16deg);
        -ms-transform: scale(1.5) skew(0deg, -16deg);
        transform: scale(1.5) skew(0deg, -16deg);
        text-align: center;
    }
    .biotec-section2 img {
        transform: skew(0deg, 16deg) !important; 
        display: block;
        width: 110%;
        margin-top: 25px;
    }
    
    .biotec-footer {
        flex-shrink: 0;
        clear: both;
        position: relative;
        margin-top: 200px;
    }
    
}


.burger-expand {
    transform: translateX(5%);

}



@media (min-width: 768px) {
    body {
        overflow-x: hidden;
    }
    nav {
        padding: 20px;
    }
    .main-logo{
        width: 40%;
    }
    .burger-menu {
        margin-right: 20px;
        margin-top: -10px;
    }
    .navlinks2 {
        display: none;
    }
    .navlinks li {
        font-size: 1rem;
    }
    .jumbotron-fluid {
        height: 50vh;
    }
    .splash {
        height: 200%;
        background-position: right 0% top 0%;
        background-size: cover;
        top: -160px;
        clear: both;
    }
    .splash-hand{
        margin-top: 180px;
        width: 30%;
    }
    .splash h1{
        margin-top: 30px;
        font-size: 2rem !important;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .splash p {
        font-size: 1rem;
        line-height: 10px;
        margin-left: 30px;
    }
    #work {
        margin-top: 300px;
    }
    .workDiv {
        margin-top: 20px;
    }
    .workDiv img {
        width: 30%;
        margin-bottom: 30px;
    }
    .p1{
        display: inline-flexbox;
    }
    #p1 {
        width: 450px;
    }

    .lightbox img {
        width: 65%;
    }

    .lightbox object {
        opacity: 1;
        z-index: 5;
    }
    .close {    
        right: 24px;
        top: 10px;
        cursor: pointer;
        font-size: 16px;
        position: fixed;
        padding: 2px 14px 5px;
      color: black; 
      font-size: 24px;  
      font-weight: bold;
        
    }
    
    .close:hover {
        color: darkgray;
      }
    
    .projDesc {
        width: 50%;
        height: 40%;
        transform: translate(0, 25%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .projGallery {
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
      }
    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
      }
      .projDesc {
        width: 50%;
    }
    
    .lb-content {
        position: relative; 
        float: left;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 20px; 
        margin: auto; 
        width: 50%;
        height: 100vh; 
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    .mosaic {
        margin: 20px auto;
        width:100%;
        display:grid;
        grid-template-columns: 300px 300px;
        grid-row: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        align-items:center;
        justify-content:center;
    }
    #p1 {
        width: 300px;
        padding:20px;
        display:flex;
    }
    .aboutMe {
        padding-top: 100px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .abt-header {
        width: 30%;
        margin-bottom: 30px;
    }
    .abt-txt {
        width: 90%;
    }
    .abt-img {
        width: 15%;
    }
    .demoreel {
        margin-top: 50px;
        margin-bottom: 80px;
        text-align: center;
    }
    .demoreel iframe{
        width: 100%;
        height: 100%;
    }
    .education {
        margin-top: 60px;
    }
    .edu {
        width: 70%;
        margin-top: 70px;
    }   
    .skills-header {
        width: 22%;
    }
    .skills-txt {
        width: 70%;
    }
    .skills-txt h1 {
        font-size: 1.4rem !important;
    }
    .top {
        margin-bottom: 30px;
    }

    .contact {
        margin-top: 30px;
    }
    footer {
        margin-top: 50px;
        padding-top: 30px;
        clear: both;
    }
    .copyright {
        height: 10vh;
    }
    .f-nav img {
        width: 20%;
        margin-bottom: 30px;
    }
    .f-links {
        width: 50%;
    }
    .wave-splash {
        position: relative;
        float: left;
        clear: both;
        height: 150vh;
    }
    .wave-Header {
        width: 40%;
    }
    .wave-Splash {
        margin-bottom: 40px;
        width: 80%;
        transform: translate(-5%, 0%);
    }
    .wave-About {
        position: relative;
        margin-bottom: 40px;
        float: left;
        clear: both;
        overflow: hidden;
    }
    .wave-mock {
        width: 60%;
        transform: translateY(10%);

    }
    .wave-bottom-splash {
        height: 150vh;
        position: relative;
        padding: 25px;
        text-align: center;
        bottom: 0;
    }
    .form-cont {
        transform: translateY(30%);
        height: 65%;
        position: relative;
        clear: both;
        margin-bottom: 50px;
    }
    .form-cont p {
        font-size: .8rem;
    }
    .form-cont textarea {
        height: 100px;
    }
    .cont-header {
        width: 30%;
    }
    form {
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
    }
    .submit-button {
        width: 100px;
    }
    .model-cont{
        position: absolute;
        margin-top: 0px;
        transform: translate(-18%, -80%);
        clear: none;
    }
    .model {
        width: 100%;
    }
    .thermo-splash-txt {
        width: 50%;
        float: right;
        transform: translateY(-110%) !important;
        font-size: 1rem;
    }
    .thermo-splash-txt p {
        line-height: 25px;
        font-size: .8rem;
    }
    .ui {
        clear: both;
    }
    .ui-img {
        width: 50%;
        float: right;
        
    }
    .ui-txt p {
        font-size: .8rem;
        width: 90%;
        transform: translateY(30%);
    }
    .sketch-cont {
        float: left;
        margin-top: 30px;
        text-align: center;

    }
    .sketch-img {
        width: 80%;
    }
    .logo-txt {
        text-align: center;
        width: 80%;
    }
    .logo-txt p {
        font-size: .8rem;
        transform: translateY(0%);
    }
    .final-logo {
        width: 60%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .sheet-cont {
        margin-top: 50px;
    }
    .sheet-cont p {
        font-size: 1rem;
    }
    .sheet-cont {
        text-align: center;
    }
    .sell-sheet {
        width: 70%;
        margin-bottom: 20px;
        -webkit-box-shadow: 4px 10px 20px -6px #777;
        -moz-box-shadow: 4px 10px 20px -6px #777;
        box-shadow: 4px 10px 20px -6px #777;
    }
    .vr {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .biotec-splash {
        height: 70vh;
        background-image: linear-gradient(to top right,  #08393B,#79B3B7);
        -moz-transform: scale(2.5) skew(0deg, -14deg);
        -webkit-transform: scale(2.5) skew(0deg, -14deg);
        -o-transform: scale(2.5) skew(0deg, -14deg);
        -ms-transform: scale(2.5) skew(0deg, -14deg);
        transform: scale(2.5) skew(0deg, -14deg);
    }
    
    .splash-content {
        transform: translateY(-80%);
        display: flex;

    }
    .biotec-logo-cont {
        width: 100%;
    }
    .biotic-logo {
        width: 60%;

    }
    .biotec-splash-img {
        width: 60%;

    }
    
    .biotec-mock {
        width: 100%;
        display: inline-block;

    }
    
    .merch-cont {
        width: 50%;
        text-align: center;
        float: left;
    }
    
    
    .merch-cont img{
        width: 100%;
        transform: translateY(-70%);
        float: left;
    }
    
    .proj-desc {
        transform: translateY(-175%);
        width: 50%;
        float: right;
    
    }
    .proj-desc p {
        font-size: .8rem;
    }
    
    .biotec-section2 {
        margin-top: 80px;
        margin-bottom: 0px;
        padding-top: 20px;
        height: 100%;
        background-image: linear-gradient(to top right,  #08393B,#fff);
        -moz-transform: scale(1.5) skew(0deg, -14deg);
        -webkit-transform: scale(1.5) skew(0deg, -14deg);
        -o-transform: scale(1.5) skew(0deg, -14deg);
        -ms-transform: scale(1.5) skew(0deg, -14deg);
        transform: scale(1.5) skew(0deg, -14deg);
        text-align: center;
    }
    .biotec-section2 img {
        transform: skew(0deg, 14deg) !important; 
        display: block;
        width: 50%;
        margin-top: 25px;
    }
    
    .biotec-footer {
        position: relative;
        overflow:hidden; 
    }
    .cricket-splash {
        background: url('/images/p-img/cricket-bg.png');
        background-size: cover;
        height: 100vh;
        margin-top: -10%;
        text-align: center;
        align-items: center;
       display: flex;
       transform: scale(1.2);
    
    }
    
    .cricket-splash-img img {
        width: 40%;
        margin-bottom: 30px;
    }
    
    .main-cont p {
        margin-top: 50px;
        font-size: .8rem;
    }
    .main-cont img{
        width: 100%;
    }
    

}

@media (min-width: 980px) {
    .splash-txt {
        line-height: 10px;
    }

    .abt-txt {
        height: 30%;
        font-size: 1rem;
    }
    .abt-header {
        width: 30%;
        margin-bottom: 30px;
    }
    .abt-img {
        width: 12%;
        float: left;
        margin-right: 10px;
    }
    video {
        margin-bottom: 50px;
        z-index: 10;
    }
    .edu {
        margin-top: 170px;
    }
    .flex-cont {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .interests {
        float: left;
    }
    .code {
        float: left;
    }
    .projDesc {
        height: 10%;
    }
    .wave-splash {
        background-size: cover;
        height: 120vh;
        position: relative;
        clear: both;
        margin-bottom: 50px;
    }
    .wave-Header {
        width: 25%;
        margin-top: 30px;
        transform: translate(20%, 50%);
        float: left;
    }
    .wave-Splash {
        margin-bottom: 40px;
        width: 65%;
        transform: translate(10%, -10%);
    }
    .wave-About {
        position: relative;
        margin-bottom: 40px;
        float: left;
        clear: both;
        overflow: hidden;
    }
    .wave-mock {
        width: 40%;
        transform: translate(0, 0);

    }
    .wave-bottom-splash {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top 0% right 0% bottom 60%;
    }
    .form-cont {
        display: block;
        position: relative;
        margin-top: 50px;
        height: 60%;
        padding: 30px;
    }
    .cont-header {
        width: 50%;
    }
    .submit-button {
        height: 30%;
      
    }
    footer {
        margin-top: 50px;
        position: relative;
    }
    .model-cont{
        position: absolute;
        margin-top: 0px;
        transform: translate(-18%, -80%);
        clear: none;
    }
    .model {
        width: 130%;
    }
    .thermo-splash-txt {
        width: 50%;
        float: right;
        transform: translateY(-130%) !important;
        font-size: 1rem;
    }
    .thermo-splash-txt p {
        line-height: 25px;
    }
    .ui {
        clear: both;
    }
    .ui-img {
        width: 50%;
        float: right;
        
    }
    .ui-txt p {
        font-size: 1rem;
        margin-right: 20px;
        transform: translateY(30%);
    }
    .sketch-cont {
        float: left;
        margin-top: 30px;

    }
    .sketch-img {
        width: 80%;
    }
    .logo-txt {
        float: right;
        width: 50%;
    }
    .logo-txt p {
        font-size: 1rem;
        transform: translateY(80%);
    }
    .final-logo {
        width: 60%;
        margin-top: 140px;
    }
    .thermo-splash-txt {
        font-size: 1rem;
    }
    .sheet-cont {
        margin-top: 50px;
    }
    .sheet-cont p {
        font-size: 1rem;
    }
    .sheet-cont {
        text-align: center;
    }
    .sell-sheet {
        width: 70%;
        margin-bottom: 20px;
        -webkit-box-shadow: 4px 10px 20px -6px #777;
        -moz-box-shadow: 4px 10px 20px -6px #777;
        box-shadow: 4px 10px 20px -6px #777;
    }
    .vr {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .biotec-splash {
        height: 70vh;
        background-image: linear-gradient(to top right,  #08393B,#79B3B7);
        -moz-transform: scale(2.5) skew(0deg, -14deg);
        -webkit-transform: scale(2.5) skew(0deg, -14deg);
        -o-transform: scale(2.5) skew(0deg, -14deg);
        -ms-transform: scale(2.5) skew(0deg, -14deg);
        transform: scale(2.5) skew(0deg, -14deg);
    }
    
    .splash-content {
        transform: translateY(-80%);
        display: flex;

    }
    .biotec-logo-cont {
        width: 100%;
    }
    .biotic-logo {
        width: 50%;
        float: left;
    }
    .biotec-splash-img {
        width: 50%;
        float: right;
    }
    
    .biotec-mock {
        width: 100%;
        display: inline-block;

    }
    
    .merch-cont {
        width: 50%;
        text-align: center;
        float: left;
    }
    
    
    .merch-cont img{
        width: 100%;
        transform: translateY(-40%);
        float: left;
    }
    
    .proj-desc {
        transform: translateY(-45%);
        width: 50%;
        float: right;
    
    }
    
    .biotec-section2 {
        margin-top: 80px;
        margin-bottom: 0px;
        padding-top: 20px;
        height: 100%;
        background-image: linear-gradient(to top right,  #08393B,#fff);
        -moz-transform: scale(1.5) skew(0deg, -14deg);
        -webkit-transform: scale(1.5) skew(0deg, -14deg);
        -o-transform: scale(1.5) skew(0deg, -14deg);
        -ms-transform: scale(1.5) skew(0deg, -14deg);
        transform: scale(1.5) skew(0deg, -14deg);
        text-align: center;
    }
    .biotec-section2 img {
        transform: skew(0deg, 14deg) !important; 
        display: block;
        width: 50%;
        margin-top: 25px;
    }
    
    .biotec-footer {
        position: relative;
        overflow:hidden;
        margin-top: 400px;
    }
    .cricket-splash {
        background: url('/images/p-img/cricket-bg.png');
        background-size: cover;
        height: 100vh;
        margin-top: -10%;
        align-items: center;
       margin-bottom: 50px;
    
    }
    
    .cricket-splash-img img {
        width: 30%;
        float: right;
        transform: translate(-30%,10%);
    }
    
    .cricket-splash-img h2 {
        transform: translate(-10%,150%);
        font-size: 2.5rem;
    }
    .main-cont p {
        margin-top: 50px;
        font-size: 1rem;
    }
    
}

@media (min-width: 1024px) {
    body{
        overflow-x: hidden;
    }
    nav {
        padding: 0px;
    }
    .main-logo{
        width: 20%;
        transform: translateX(0);
 
    }
    .burger-menu {
        display: flex;
    }
    .navlinks {
       display: none;
    }
    .navlinks li {
        display: inline-flex !important;
        justify-content: space-around;

    }
    .navlinks2 {
        display: flex;
        justify-content: space-around;
        margin-right: 20px;
        z-index: 2;
        font-size: 1rem;

    }
    .navlinks2 li{
        display: inline-flex;
        margin: 30px;
    }
    .splash {
        height: 130vh;
    }
    .splash-txt {
        transform: translateY(0%);
    }
    .splash-art {
        width:100%;
        transform: translateX(0%);

    }
    #work {
        transform: translateY(30%);
    }
    .projLink { 

        border: 2px solid #fff;
        outline: 5px solid #05322F;
        background: #05322F;
        display: block; 
        width: 60%;  
        text-decoration: none;
        margin: 0 auto;
        padding: 5px;
    }

    .p1 button {
        position: absolute;
        background-color: #05322F;
        width: 200px;
        color: white;
        padding: 16px 32px;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        left: 165%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    .mosaic {
        margin: 0 auto;
        width:100%;
        display:grid;
        grid-template-columns: 400px 400px;
        grid-row: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        align-items:center;
        justify-content:center;
        text-align: center;
    }
    .p1 {
      
        padding: 20px;
        display: flex;
        right: 40%;
    }
    #p1 {
        width: 400px;
    }
    .edu {
        margin-top: 170px;
    }
    .copyright {
        height: 15vh;
        margin-bottom: 0;
    }
    .form-cont {
        width: 60%;
        height: 60%;
    }
    .cont-header {
        width: 35%;
    }
    .submit-button {
        margin-bottom: 20px;
    }
    .thermo-splash-txt {
        width: 50%;
        line-height: 20px;
    }
    .thermo-splash-txt p {
        font-size: 1rem;
    }
    
}

@media (min-width: 1200px){
    body{
        overflow-x: hidden;
    }
    nav {
        padding: 0px;
    }
    .main-logo{
        width: 20%;
        margin-left: 30px;
 
    }
    .burger-menu {
        display: flex;
    }
    .navlinks {
       display: none;
    }
    .navlinks li {
        display: inline-flex !important;
        justify-content: space-around;

    }
    .navlinks2 {
        display: flex;
        justify-content: space-around;
        margin-right: 20px;
        z-index: 2;
        font-size: 1rem;

    }
    .navlinks2 li{
        display: inline-flex;
        margin: 30px;
    }

    .jumbotron-fluid {
        height: 100vh;
    }
    .splash{
        display: flex;
        height: 130%;
        top: -160px       
    }
    .splash-hand {
        width: 30%;
        display: inline-flex;
        justify-content: flex-end;
        margin-right: 130px;
        margin-top: 160px;
    }
    .splash-txt {
        line-height: 10px;
    }
    .type-cursor {
        font-size: 1.5rem;
    }
    .splash h1{
        margin-top: 400px;
        font-size: 3rem !important;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .splash p {
        font-size: 1rem;
        margin-left: 30px;
    }
    .burger-expand {
        display: none;
    }

    #work {
        margin-top: 200px;
    }
    .workDiv img {
        width: 30%;
        margin-bottom: 30px;
    }
    .wHeader {
        width: 20%;
        margin-bottom: 30px;
    }
    .divider {
        width: 30%;
    }
    
    .projLink { 

        border: 2px solid #fff;
        outline: 5px solid #05322F;
        background: #05322F;
        display: block; 
        width: 60%;  
        text-decoration: none;
        margin: 0 auto;
        padding: 5px;
    }

    .p1 button {
        position: absolute;
        background-color: #05322F;
        width: 200px;
        color: white;
        padding: 16px 32px;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        left: 165%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .close {    
        right: 24px;
        top: 10px;
        cursor: pointer;
        font-size: 16px;
        position: fixed;
        padding: 2px 14px 5px;
      color: black; 
      font-size: 24px;  
      font-weight: bold;
        
    }
    
    .close:hover {
        color: darkgray;
      }
    
    .projDesc {
        width: 50%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e2d2c0;
    }
    
    .projGallery {
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
      }
    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
      }
      .projDesc {
        width: 50%;
    }
    
    .lb-content {
        position: relative; 
        float: left;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 20px; 
        margin: auto; 
        width: 50%;
        height: 100vh; 
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    .mosaic {
        margin: 0 auto;
        width:100%;
        display:grid;
        grid-template-columns: 400px 400px;
        grid-row: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        align-items:center;
        justify-content:center;
        text-align: center;
    }
    .p1 {
      
        padding: 20px;
        display: flex;
        right: 40%;
    }
    #p1 {
        width: 400px;
    }
    .abt-header {
        width: 20%;
        margin-bottom: 30px;
    }
    .abt-txt {
        height: 50%;
    }
    .abt-txt h1 {
        padding-top: 40px;
    }

    .abt-txt p {
        padding-top: 40px;
    }

    .abt-img {
        width: 15%;
        float: left;
        margin-right: 20px;
        margin-top: 10px;
    }

    .edu img {
        width: 30%;
    }
    .skills-txt img {
        margin-bottom: 30px;
    }
    .flex-cont {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .interests {
        float: left;
    }
    .code {
        float: left;
    }
    .back-top {
        margin-bottom: 40px;

    }
    .contact {
        margin-top: 40px;
    }
    .f-nav img {
        width: 10%;
    }
    .copyright {
        height: 10vh;
    }
    .error-section {
        width: 50%;
    }
    .splash-txt p {
        font-size: 1rem;
    }
    .ui-txt p {
        margin-left: 0px;
    }
    .logo-txt {
        text-align: left;
    }
    .biotec-footer {
        clear: both;
        position: relative;
        margin-top: 500px;
    }
    .thermo-splash-txt p {
        font-size: 1rem;
    }
  
}

@media (min-width: 1920px) {
    body{
        overflow-x: hidden;
    }
    nav {
        padding: 0px;
        padding-right: 30px;

    }
    .main-logo{
        width: 15%;
        margin-left: 30px;
    }
    .burger-menu {
        display: flex;
    }
    .navlinks {
       display:none;
    }
    .navlinks li {
        display: inline-flex !important;
        justify-content: space-around;

    }
    .navlinks2 {
        display: flex;
        justify-content: space-around;
        margin-right: 0px;

    }
    .navlinks2 li{
        display: inline-flex;
        margin: 30px;
    }
    .splash {
        height: 120%;

    }
    .splash h1 p{
        margin-top: 300px;
    }
    .projLink { 
        border: 2px solid #fff;
        outline: 5px solid #05322F;
        background: #05322F;
        display: block; 
        width: 100%;  
        text-decoration: none;
        margin: 0 auto;
        padding: 5px;
    }
    .close {    
        right: 24px;
        top: 10px;
        cursor: pointer;
        font-size: 16px;
        position: fixed;
        padding: 2px 14px 5px;
      color: black; 
      font-size: 24px;  
      font-weight: bold;
        
    }
    
    .close:hover {
        color: darkgray;
      }
    
    .projDesc {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e2d2c0;
    }
    
    .projGallery {
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
      }
    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
      }
      .projDesc {
        width: 50%;
    }
    
    .lb-content {
        position: relative; 
        float: left;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 20px; 
        margin: auto; 
        width: 50%;
        height: 100vh; 
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    .abt-header {
        width: 40%;
        margin-bottom: 30px;
    }
    .abt-img {
        width: 30%;
        float: left;
        margin-right: 10px;
    }
}