.wave-splash {
    height: 100vh;
    background: url('/images/p-img/beach.png');
    background-size: cover;
    background-position: top 0% right 0% bottom 60%;
    position: relative;
    padding: 25px;
    text-align: center;
}

.wave-Header {
    width: 70%;
    left: 50%;
}

.about {
    position: relative;
    display: flex;
}

.wave-Splash {
    width: 120%;
    transform: translate(-10%, 0);
}

.wave-About {
    margin-bottom: 40px;
}

.wave-About h4 {
    margin-top: 40px;
    font-size: 1.2rem;
}

.mobile-ui {
    float: left;
}

.mobile-ui img {
    width: 100%;
}

.mobile-txt li {
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 10px;
}

.wave-bottom-splash {
    height: 100vh;
    background: url('/images/p-img/beach2.png');
    background-size: cover;
    background-position: top 0% right 50% bottom 60%;
    position: relative;
    padding: 25px;
    text-align: center;
    bottom: 0;
}

.user-persona {
    width: 70%;
}

.wave-About img {
    margin-top: 30px;
}

.par-2 {
    margin-top: 30px;
}
.wave-mock {
    transform: translate(-5%, 60%);
    width: 110%;
}

.wave-footer {
    margin-top: 0px;
}